<a href="https://colab.research.google.com/github/sayam-h069/2403A51L27_B51_PDS/blob/main/Lab_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Question 1
import pandas as pd
import numpy as np

data = {
    "Student_ID": [1, 2, 3, 4, 5],
    "Name": ["Amit", "Sara", "John", "Lina", "Raj"],
    "Math": [80, 72, np.nan, 90, 85],
    "Science": [78, np.nan, 88, 92, 81],
    "English": [82, 76, 79, np.nan, 91]
}

df = pd.DataFrame(data)
df.fillna(df.mean(numeric_only=True), inplace=True)
high_achievers = df[(df['Math'] > 75) & (df['Science'] > 75) & (df['English'] > 75)]
print(high_achievers)

   Student_ID  Name   Math  Science  English
0           1  Amit  80.00     78.0     82.0
2           3  John  81.75     88.0     79.0
3           4  Lina  90.00     92.0     82.0
4           5   Raj  85.00     81.0     91.0

In [3]:
#Question 2
import pandas as pd
import numpy as np

data = {
    "Patient_ID": [101, 102, 103, 104, 105],
    "Name": ["Anita", "Ravi", "Meena", "Sita", "Karan"],
    "Age": [65, np.nan, 54, 72, 45],
    "Gender": ["Female", "Male", "Female", "Female", "Male"],
    "Diagnosis": ["Diabetes", "Hypertension", "Diabetes", "Diabetes", "Asthma"],
    "Admission_Date": ["2023-01-12", "2023-02-18", "2023-03-20", "2023-04-05", "2023-05-10"]
}

df = pd.DataFrame(data)

df["Age"] = df["Age"].fillna(df["Age"].median())

elderly_females = df[(df["Gender"] == "Female") & (df["Age"] > 50) & (df["Diagnosis"] == "Diabetes")]
print(elderly_females)

   Patient_ID   Name   Age  Gender Diagnosis Admission_Date
0         101  Anita  65.0  Female  Diabetes     2023-01-12
2         103  Meena  54.0  Female  Diabetes     2023-03-20
3         104   Sita  72.0  Female  Diabetes     2023-04-05