<a href="https://colab.research.google.com/github/sayam-h069/2403A51L27_B51_PDS/blob/main/Lab_2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

data = {
    'Order ID': [101, 102, 103, 104, 105, 106, 107],
    'Product': ['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Laptop', 'Mouse', 'Monitor'],
    'Quantity': [2, 10, 5, 3, 1, 15, 2],
    'Price': [50000, 800, 1500, 12000, 50000, 800, 12000]
}

df = pd.DataFrame(data)
print("\nInitial DataFrame:")
print(df)


df['Total Sale'] = df['Quantity'] * df['Price']
print("\nDataFrame with Total Sale:")
print(df)


filtered_df = df[df['Total Sale'] > 1000]
print("\nFiltered Orders (Total Sale > 1000):")
print(filtered_df)


most_sold = df.groupby('Product')['Quantity'].sum().sort_values(ascending=False)
print("\nMost Sold Product:")
print(most_sold)

df['Discount'] = df['Total Sale'].apply(lambda x: x * 0.10 if x > 20000 else x * 0.05)
print("\nDataFrame with Discount Column:")
print(df)

df.to_excel("sales_summary.xlsx", index=False)
print("\nExcel file 'sales_summary.xlsx' created successfully.")

Initial DataFrame:
   Order ID   Product  Quantity  Price
0       101    Laptop         2  50000
1       102     Mouse        10    800
2       103  Keyboard         5   1500
3       104   Monitor         3  12000
4       105    Laptop         1  50000
5       106     Mouse        15    800
6       107   Monitor         2  12000

DataFrame with Total Sale:
   Order ID   Product  Quantity  Price  Total Sale
0       101    Laptop         2  50000      100000
1       102     Mouse        10    800        8000
2       103  Keyboard         5   1500        7500
3       104   Monitor         3  12000       36000
4       105    Laptop         1  50000       50000
5       106     Mouse        15    800       12000
6       107   Monitor         2  12000       24000

Filtered Orders (Total Sale > 1000):
   Order ID   Product  Quantity  Price  Total Sale
0       101    Laptop         2  50000      100000
1       102     Mouse        10    800        8000
2       103  Keyboard         5   1500        7500
3       104   Monitor         3  12000       36000
4       105    Laptop         1  50000       50000
5       106     Mouse        15    800       12000
6       107   Monitor         2  12000       24000

Most Sold Product:
Product
Mouse       25
Keyboard     5
Monitor      5
Laptop       3
Name: Quantity, dtype: int64

DataFrame with Discount Column:
   Order ID   Product  Quantity  Price  Total Sale  Discount
0       101    Laptop         2  50000      100000   10000.0
1       102     Mouse        10    800        8000     400.0
2       103  Keyboard         5   1500        7500     375.0
3       104   Monitor         3  12000       36000    3600.0
4       105    Laptop         1  50000       50000    5000.0
5       106     Mouse        15    800       12000     600.0
6       107   Monitor         2  12000       24000    2400.0

Excel file 'sales_summary.xlsx' created successfully.