<a href="https://colab.research.google.com/github/sayam-h069/2403A51L27_B51_PDS/blob/main/Lab_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import seaborn as sns

df = sns.load_dataset('titanic')

print("="*40)
print("Missing Values Before Cleaning:")
print("="*40)
print(df.isnull().sum())
print("\n")

age_mean = df['age'].mean()
embarked_mode = df['embarked'].mode()[0]

df['age'] = df['age'].fillna(age_mean)
df['embarked'] = df['embarked'].fillna(embarked_mode)

df.drop(['deck', 'embark_town'], axis=1, inplace=True)

print("="*40)
print("Missing Values After Cleaning:")
print("="*40)
print(df.isnull().sum())
print("\n")

print("="*40)
print("First 5 Rows of Cleaned Data:")
print("="*40)
print(df.head())

========================================
Missing Values Before Cleaning:
========================================
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64


========================================
Missing Values After Cleaning:
========================================
survived      0
pclass        0
sex           0
age           0
sibsp         0
parch         0
fare          0
embarked      0
class         0
who           0
adult_male    0
alive         0
alone         0
dtype: int64


========================================
First 5 Rows of Cleaned Data:
========================================
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male alive  alone
0    man        True    no  False
1  woman       False   yes  False
2  woman       False   yes   True
3  woman       False   yes  False
4    man        True    no   True

In [1]:
#Question 2
import pandas as pd

data = {
    'StudentID': [101, 102, 103, 104, 105, 106, 107, 108],
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Evan', 'Fiona', 'George', 'Hannah'],
    'Gender': ['Female', 'M', 'male', 'F', 'Male', 'female', 'male', 'Female']
}
df = pd.DataFrame(data)

print("="*35)
print("Categories Before Standardization:")
print("="*35)
print(df['Gender'].value_counts())
print("\n")

gender_map = {
    'M': 'Male',
    'male': 'Male',
    'Male': 'Male',
    'F': 'Female',
    'female': 'Female',
    'Female': 'Female'
}

df['Gender'] = df['Gender'].replace(gender_map)

print("="*35)
print("Categories After Standardization:")
print("="*35)
print(df['Gender'].value_counts())
print("\n")

print("="*35)
print("Cleaned DataFrame:")
print("="*35)
print(df)

===================================
Categories Before Standardization:
===================================
Gender
Female    2
male      2
M         1
F         1
Male      1
female    1
Name: count, dtype: int64


===================================
Categories After Standardization:
===================================
Gender
Female    4
Male      4
Name: count, dtype: int64


===================================
Cleaned DataFrame:
===================================
   StudentID     Name  Gender
0        101    Alice  Female
1        102      Bob    Male
2        103  Charlie    Male
3        104    Diana  Female
4        105     Evan    Male
5        106    Fiona  Female
6        107   George    Male
7        108   Hannah  Female